@import url("https://fonts.googleapis.com/css?family=Aldrich|Orbitron");
body * {
  box-sizing: border-box; }

label {
  cursor: inherit; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, .modal-window .content .bar:after {
  content: "";
  display: table;
  clear: both; }

ul.undo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  background: black; }

#main-content {
  position: relative;
  overflow: hidden; }
  #main-content button {
    padding: 10px;
    color: rgba(255, 255, 255, 0.95);
    border: 1px solid transparent;
    font-size: large;
    background-color: #3dc743;
    outline: none;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease; }
  #main-content .caption {
    font-size: small;
    font-style: italic;
    line-height: 15px;
    opacity: 0.5; }
  #main-content .thumbnail {
    height: 50px;
    width: 50px; }
  #main-content .title-text, #main-content button {
    font-family: "Aldrich", sans-serif; }

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: black; }
  #background .star-world {
    min-width: 100%;
    min-height: 100%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: url(assets/images/twinkle.gif) repeat fixed center center; }
  #background .space-station {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block; }

@keyframes travelerSky {
  0% {
    -webkit-transform: scale(1.5) rotate(0deg);
    -moz-transform: scale(1.5) rotate(0deg);
    -ms-transform: scale(1.5) rotate(0deg);
    -o-transform: scale(1.5) rotate(0deg);
    transform: scale(1.5) rotate(0deg); }
  50% {
    -webkit-transform: scale(2) rotate(-360deg);
    -moz-transform: scale(2) rotate(-360deg);
    -ms-transform: scale(2) rotate(-360deg);
    -o-transform: scale(2) rotate(-360deg);
    transform: scale(2) rotate(-360deg); }
  100% {
    -webkit-transform: scale(1.5) rotate(0deg);
    -moz-transform: scale(1.5) rotate(0deg);
    -ms-transform: scale(1.5) rotate(0deg);
    -o-transform: scale(1.5) rotate(0deg);
    transform: scale(1.5) rotate(0deg); } }
.traveler-sky {
  animation: travelerSky 700s infinite;
  animation-timing-function: linear; }

.modal-window {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  line-height: 100vh;
  text-align: center;
  -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease; }
  .modal-window .content {
    display: inline-block;
    line-height: 25px;
    color: #00FF80;
    padding: 10px;
    background: black;
    border: 1px solid rgba(0, 255, 128, 0.3); }
    .modal-window .content .bar {
      padding-bottom: 10px; }
      .modal-window .content .bar .close-modal {
        float: right;
        padding: 10px;
        border: 1px solid rgba(0, 255, 128, 0.3); }

.modal-window:not(.show) {
  opacity: 0;
  pointer-events: none; }
  .modal-window:not(.show) * {
    pointer-events: none !important; }

#help {
  z-index: 2; }
  #help .content {
    padding: 20px;
    border: 1px solid; }
    #help .content .message {
      text-align: left; }
    #help .content .skip {
      margin-top: 10px;
      padding: 10px 50px; }

@media screen and (max-width: 750px) {
  .no-mobile {
    display: none !important; } }
@media screen and (min-width: 750px) {
  .mobile-only {
    display: none !important; } }

/*# sourceMappingURL=index.css.map */
